
<div class="container">
	<% if account_signed_in? %>

		

	<% else %>
		<div class="container-fluid bg-3 text-center" style="background-color: #3A6FE5;height: 600px;margin-top: -30px;">
			<div style="padding-top:100px">
				<h1 class="mt-5" style="color: white;font-size: 60px;font-family: Times">Welcome to Friends Book</h1>
				<p class="lead" style="font-size: 30px">Please register or sign in</p>

				<%= link_to "Sign up", new_account_registration_path, :class => "btn btn-lg btn-success"  %> 
				<%= link_to "Login", new_account_session_path, :class => "btn btn-lg btn-default"   %>
			</div>
		</div>
	<% end %>
</div>