<h2 style="text-align: center;">Your Follower</h2>
<div class="container" style="margin-top: 5%">
<div class="row">
	<div class="col-md-5">

	</div>
	<div class="col-md-4">
		<div class="account-summary">
			<p>
				<%= image_tag current_account.image.thumb.url if current_account.image.thumb.url.present? %> 
				<strong><%= link_to current_account.username, profile_path(current_account.username) %></strong>
				<br>
				
			</p>	
		</div>
		<hr>	

		<%= get_follower(current_account)%>
	</div>

</div>
</div>